<div class="container mt-4">
  <!-- Search and Filter -->

  <div class="row mb-3">
    <div class="col-md-6">
      <input
        type="text"
        class="form-control"
        placeholder="Search cars"
        [(ngModel)]="searchedCarName"
        (ngModelChange)="search()"
      />
    </div>
    <div class="col-md-4 text-left">
      <button class="btn btn-primary mr-2">Search Car</button>
      <app-car-form></app-car-form>
    </div>
  </div>

  <!-- Toggle Advanced Filters -->
  <div class="row mb-3">
    <div class="col-md-12 text-right">
      <button class="btn btn-secondary" (click)="toggleAdvancedFilters()">
        {{ showAdvancedFilters ? "Hide" : "Show" }} Advanced Filters
      </button>
    </div>
  </div>

  <!-- Advanced Filters -->
  <div *ngIf="showAdvancedFilters">
    <app-car-filter (filterChanged)="onFilterChanged($event)"></app-car-filter>
  </div>

  <!-- Car Table -->
  <table class="table table-striped table-bordered mt-4">
    <thead>
      <tr>
        <th>Name</th>
        <th>MPG</th>
        <th>Cylinders</th>
        <th>Displacement</th>
        <th>Horsepower</th>
        <th>Weight</th>
        <th>Acceleration</th>
        <th>Model Year</th>
        <th>Origin</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="cars && cars.length > 0">
        <tr *ngFor="let car of cars">
          <td>{{ car.name }}</td>
          <td>{{ car.mpg }}</td>
          <td>{{ car.cylinders }}</td>
          <td>{{ car.displacement }}</td>
          <td>{{ car.horsepower }}</td>
          <td>{{ car.weight }}</td>
          <td>{{ car.acceleration }}</td>
          <td>{{ car.modelYear }}</td>
          <td>{{ car.origin }}</td>
          <td>
            <button class="btn btn-warning btn-sm" (click)="editCar(car.id)">
              Edit
            </button>
            <button class="btn btn-danger btn-sm" (click)="deleteCar(car.id)">
              Delete
            </button>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="!cars || cars.length === 0">
        <tr class="alert alert-info" role="alert">
          <td colspan="10" class="text-center">No cars found.</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
