/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}
html {
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}
.h-80vh {
  height: 80vh;
}
